<template>
    <require from="../../src/components/date-format"></require>
    <require from="../../src/components/date-picker"></require>
    
    <div class="panel panel-default">
        <div class="panel-heading">Lagerplatser</div>
        <table class="table">
            <tr>
                <th>Benämning</th>
            </tr>
            <tr repeat.for="rack of racks" click.delegate="editRack(rack)">
                <td>${rack.name}</td>
                <td>
                    <a click.delegate="deleteRack(rack.id)" class="btn btn-default btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
        <hr />
        <form>
            <div class="form-group">
                <input type="text" value.bind="rackName" class="form-control" placeholder="Ange lagerplatsnamn">
            </div>
            <button click.delegate="saveRack()" class="btn btn-default">Spara lagerplats</button>
        </form>
    </div>
</template>