<template>
    <require from="../../src/components/date-format"></require>
    <require from="../../src/components/date-picker"></require>

    <div class="panel panel-default col-sm-8">
        <div class="panel-heading">Lager</div>
        <div class="col-sm-12" repeat.for="article of articles" click.delegate="editArticle(article)">
            <div class="article-wrapper">
                <h3>${article.number}</h3>
                <h4>${article.name}</h4>
            </div>
        </div>
    </div>
</template>